:root {
  /* THEME */
  --primaryColor: #09f;
  --secondaryColor: #a7d2ee;
  --grayDark: #828181;
  --grayMid: #cccccc;
  --grayLight: #eae9e9;
  --grayWhite: #f5f5f5;
  --white: white;
  --black: black;
  --navBar: #f7f7f763;

  --blue-50: #dcefff;

  --errorLabel: #fd2828;

  --responsiveTablet: 820px;
  --responsiveMobil: 440px: 
}
html,
body {
  padding: 0;
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* overflow: hidden; */
  background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em;
  background-color: #232323;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: hidden;
}
/* Safari and chrome */
::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
